<!DOCTYPE html>
<html lang="en">
<head>
  <title>MadLib</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
  <div class="jumbotron">MadLibs</div>
  <div class="container">
    <p>You once inspected a @Model.Noun while in @Model.Location. It occured to you that you should @Model.Verb a @Model.Food. You took that to be rather @Model.Adjective.</p>
    <p>Then you realize to apply your @Model.Skill skill to the pressing problem of @Model.Malady in the great state of @Model.State</p>
    <p>Only then can you relax and work on your @Model.Hobby</p>
  </div>
  
</body>
</html>